@font-face {
    font-family: 'Proxima Nova';
    src: url('./proxima-nova-bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./proxima-nova-light.otf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./proxima-nova-thin.otf') format('truetype');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./proxima-nova-bold.otf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./proxima-nova-regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
